@import "tailwindcss";
@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";

text {
  --foreground: #333;
  --background: #f9f9f9;
  color: aquamarine;
}

.p-card {
  width: 20rem;
}

.p-card-header {
  flex: auto;
  align-items: center !important;
  justify-content: center !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.p-dataview-content {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  gap: 1rem !important;
  padding: 1rem !important;
}
